body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 100px 0;
}
.digits{
  font-family: "Roboto";
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button{
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid black;
  background: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s, background-color 0.3s;
}

button:hover{
  color: white;
  background-color: black;
}