body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.digits{
  margin: 0 auto;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button{
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid black;
}